importFrom(MASS, mvrnorm, ginv)
importFrom(nnet, multinom)
importFrom(numDeriv, jacobian)
importFrom(MatchIt, matchit)
export(CBPS, summary.CBPS, CBMSM, balance)

S3method(summary, CBPS)
S3method(plot, CBPS)
S3method(print, CBPS)
S3method(vcov, CBPS)
S3method(balance, CBPS)
S3method(plot, CBPSContinuous)
S3method(balance, CBPSContinuous)
S3method(balance, CBMSM)
S3method(plot,CBMSM)
